*{
    margin :0px;
    padding: 0px;
}
/**heading**/
.main-heading{
    display: flex;
    height: 6rem;
    align-items: flex-end;
    justify-content: center ;
}
.main-subheading{
    display: flex;
    height: 4rem;
    align-items: flex-start;
    justify-content: center;

}

/**body**/

.box{
    display: flex;
    margin: 10%;
    text-align: center;


}
.dot{
    margin:0 5% 0 5%;
    font-size: 2rem;
    display: flex;
    align-content: center;
    height: 10%;
    
}

.date{
    opacity: 55%;
    display: flex;
    align-items: center;
}

.task{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}


.date:hover{

    opacity: 100%;
    font-size: 1.2rem;
    color:red;
}    

/**bottom**/
.button{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 10rem;
}
.text{
    display: inline-flex;
    background-color: blue;
    color: white;
    height: 3rem;
    align-items: center;
    border-radius: 10%;
    border: 2px solid black;
}